@import './globals.scss';

.app {
  text-align: center;
  width: 100%;
}

.appHeader {
  background-color: $colMain;
  width: 100%;
  color: #ffffff;
  height: 60px;
}

.app .button {
  margin: 0 auto;
}
